.cardStyles{
    border-radius: 30px;
    height: 25rem;
    margin-bottom: 20px;
    cursor: pointer;
}
.cardStyles h1 {
    font-family: Inter;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    color : white;
    margin-top: 170px;
    margin-left: 20px;
}

