.cardStyles{
    border-radius: 30px;
    height: 25rem;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}
.cardStyles h1 {
    font-family: Inter;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    color : white;
    position: absolute;
    top : 70%;
    left: 8%;
}

@media only screen and (max-width: 1175px) {
    .cardStyles h1 {
        left: 17%;
        top : 75%;

    }
}

@media only screen and (max-width: 1000px) {
    .cardStyles h1 {
        left: 13%;
    }
}

@media only screen and (max-width: 911px) {
    .cardStyles h1 {
        left: 10%;
    }
}

@media only screen and (max-width: 775px) {
    .cardStyles h1 {
        left: 28%;
    }
}

@media only screen and (max-width: 775px) {
    .cardStyles h1 {
        left: 24%;
    }
}
@media only screen and (max-width: 610px) {
    .cardStyles h1 {
        left: 20%;
    }
}
@media only screen and (max-width: 505px) {
    .cardStyles h1 {
        left: 15%;
    }
}
@media only screen and (max-width: 410px) {
    .cardStyles h1 {
        left: 10%;
    }
}