.navbarCont{
    display: flex;
}
.navItemsCont{
    display: flex;
    position: absolute;
    right : 9%;
    top : 7%;
}
li {
    list-style: none;
    font-size: 2rem;
    margin-left: 40px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
li:hover{
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.navItemsCont a {
    text-decoration: none;
    display: block;
}

@media only screen and (max-width: 960px) {
    li{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 790px) {
    li{
        font-size: 1.1rem;
    }
}
 @media only screen and (max-width: 680px) {
    .hamLine{
        display: block;
    }
    .hamLineCont{
        display: block;
        cursor: pointer;
    }
    .navItemsCont a {
        text-decoration: none;
        display: none;
    }
    .hamLine{
    width: 50px;
    height: 5px;
    background-color: #91C53D;
    /* display: none; */
    margin-top: 8px;
} 
} 