.aboutSection {
    display: grid;
    grid-template-rows: minmax(45vh, min-content) minmax(110vh, min-content);
    background: #1c2340;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-areas: ". headingRow ."
                        ". contentRow .";
}
.headingRow{
    grid-area: headingRow;
}
.headingRow h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 4rem;
    line-height: 67px;
    color: #FFFFFF;
}
.line {
    width : 200px;
    height : 5px;
}
.headingRow p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    color: #F9F9FC;
    margin-top: 15px;
    width : 75%;
}
.contentRow{
    grid-area: contentRow;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 80vw;
    grid-template-areas: "rowOne"
                        "rowTwo";
}
.rowOne{
    grid-area: rowOne;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas: "rowOneColOne rowOneColTwo";
}
.rowOneColOne{
    grid-area: rowOneColOne;
    /* background-color: violet; */
    padding : 10px;
    
}
.rowOneColTwo{
    grid-area: rowOneColTwo;
    /* background-color: palegoldenrod; */
}
.rowTwo{
    grid-area: rowTwo;
    /* background-color: pink; */
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-areas: "rowTwoColOne rowTwoColTwo";
}
.rowTwoColOne{
    grid-area: rowTwoColOne;
    /* background-color: grey; */
}
.rowTwoColTwo{
    grid-area: rowTwoColTwo;
    /* background-color: green; */
    padding : 10px;

}
.whiteCurveImgStyles{
    position: absolute;
    right : 0;
    height : 220px;
    top : 95%;
}
.blueStripOneStyles{
    position: absolute;
    top: 98%;
}
.blueStripTwoStyles{
    position: absolute;
    right : 0%;
    top : 210%;
}
.greenAsset{
    position: absolute;
    top: 230%;
}
@media only screen and (max-width: 1220px) {
    .aboutSection {
        display: grid;
        grid-template-columns: 0vw 100vw 0vw;
        grid-template-areas: ". headingRow ."
                            ". contentRow .";
    }
    .contentRow{
        grid-area: contentRow;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-areas: "rowOne"
                            "rowTwo";
    }
}
@media only screen and (max-width: 1000px) {
    .aboutSection {
        display: grid;
        grid-template-rows: minmax(45vh, min-content) minmax(135vh, min-content);
        background: #1c2340;
        grid-template-areas: ". headingRow ."
                            ". contentRow .";
    }
    .rowTwo{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "rowTwoColOne rowTwoColTwo";
    }
    .rowOne{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "rowOneColOne rowOneColTwo";
    }
    .greenAsset{
        position: absolute;
        top: 260%;
    }
    .blueStripTwoStyles{
        position: absolute;
        top: 230%;
    }
}
@media only screen and (max-width: 900px) {
    .rowOne{
        grid-area: rowOne;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "rowOneColOne rowOneColTwo";
    }
    .rowTwo{
        grid-area: rowTwo;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas: "rowTwoColOne rowTwoColTwo";
    }   
    
}
@media only screen and (max-width: 860px) {
    .contentRow{
        grid-area: contentRow;
        display: grid;
        grid-template-rows: minmax(80vh, min-content) minmax(80vh, min-content);
        grid-template-columns: 100vw;
        grid-template-areas: "rowOne"
                            "rowTwo"; 
    }
    .rowOne{
        grid-area: rowOne;
        display: grid;
        grid-template-rows: minmax(40vh, min-content) minmax(40vh, min-content);
        grid-template-columns: 100vw;
        grid-template-areas: "rowOneColTwo" 
                            "rowOneColOne";
    }
    .rowOneColTwo{
        text-align: center;
    }
    .rowTwoColOne{
        text-align: center;
    }
    .rowTwo{
        grid-area: rowTwo;
        display: grid;
        grid-template-rows: minmax(40vh, min-content) minmax(40vh, min-content);
        grid-template-columns: 100vw;
        grid-template-areas: "rowTwoColOne" 
                            "rowTwoColTwo";
    }
    .greenAsset{
        position: absolute;
        top: 320%;
    }
    .blueStripTwoStyles{
        position: absolute;
        right : 0%;
        top : 280%;
        /* height: 200px; */
    }
}
@media only screen and (max-width: 580px) {
    .blueStripTwoStyles{
        display: none;
    }
    .greenAsset{
        display: none;
    }    
}
@media only screen and (max-width: 715px) {
    .whiteCurveImgStyles{
        display: none;
    }
    .blueStripOneStyles{
        display: none;
    }
}
