.footerSection{
    display: grid;
    grid-template-rows: minmax(25vh, min-content);
    background: #F9F9FC;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-areas: ". footerContent .";
}
.footerContent{
    grid-area: footerContent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    z-index: 1;
}
.footerCard{
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: left;
}
.footerCard p{
    color : #1C2340;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 24px;
}
.footerCard h4{
    color : #1C2340;
    font-family: Poppins;
    font-weight: 600;
    font-size: 2rem;
    line-height: 24px;
}
