.heroSection{
    display: grid;
    background-image: url("../../assets/landingPage/heroSection/heroImg.svg");
    grid-template-rows: minmax(15vh, min-content) minmax(65vh, min-content);
    grid-template-columns: 5vw 89vw 6vw;
    grid-template-areas: ". navbarCont ."
                        ". contentCont .";
}
.navbarCont{
    grid-area: navbarCont;
}
.contentCont{
    grid-area: contentCont;
    text-align: center;
}
.contentCont h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}
.contentCont p {
    font-family: Inter;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    line-height: 25px;
}
.heroParas{
    margin-top: 27px;
}