.heroSection{
    display: grid;
    grid-template-rows: minmax(15vh, min-content) minmax(65vh, min-content);
    grid-template-columns: 5vw 89vw 6vw;
    grid-template-areas: ". navbarCont ."
                        ". contentCont .";
}
.navbarCont{
    grid-area: navbarCont;
    background-color: brown;
}
.contentCont{
    grid-area: contentCont;
    background-color: pink;
}
.contentCont h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    color: #FFFFFF;
}
.contentCont p {
    font-family: Inter;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid black;
    margin-top: 27px;
}