/* MAKING GRIDS OVER HERE */

.landingPageContainer {
    display: grid;
    grid-template-rows: minmax(80vh, min-content) minmax(140vh, min-content) minmax(170vh, min-content) minmax(50vh, min-content) minmax(50vh, min-content) minmax(5vh, min-content);
    grid-template-columns: 100vw;
    background-color: aqua;
    grid-template-areas: "heroSection"
                        "aboutSection"
                        "whatWeOfferSection"
                        "clientsSection"
                        "footerSection"
                        "footerStrip";
}
.heroSection{
    position: relative;
    grid-area: heroSection;
    background-color: aquamarine;
}

.aboutSection{
    grid-area: aboutSection;
    background-color: red;
}
.whatWeOfferSection{
    grid-area: whatWeOfferSection;
    background-color: orange;
}
.clientsSection{
    grid-area: clientsSection;
    background-color: purple;
}
.footerSection{
    grid-area: footerSection;
    background-color: pink;
}
.footerStrip{
    grid-area: footerStrip;
    background-color: blue;
}