/* MAKING GRIDS OVER HERE */

.landingPageContainer {
    display: grid;
    grid-template-rows: minmax(80vh, min-content) minmax(140vh, min-content) minmax(170vh, min-content) minmax(55vh, min-content) minmax(30vh, min-content) minmax(7vh, min-content);
    grid-template-columns: 100vw;
    grid-template-areas: "heroSection"
                        "aboutSection"
                        "whatWeOfferSection"
                        "clientsSection"
                        "footerSection"
                        "footerStrip";
}
.heroSection{
    position: relative;
    grid-area: heroSection;
    /* background-color: aquamarine; */
}

.aboutSection{
    grid-area: aboutSection;
}
.whatWeOfferSection{
    grid-area: whatWeOfferSection;
}
.clientsSection{
    grid-area: clientsSection;
}
.footerSection{
    grid-area: footerSection;
}
.footerStrip{
    grid-area: footerStrip;
}