.clientsSection{
    display: grid;
    background-color: #1c2340;
    grid-template-rows: minmax(15vh, min-content) minmax(40vh, min-content);
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-areas: ". ourClientsHeader ."
                        ". ourClientsContent .";
}
.ourClientsHeader {
    grid-area: ourClientsHeader;
}
.ourClientsHeader h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 67px;
    color: #FFFFFF;
    font-family: Inter;
}
.ourClientsContent {
    grid-area: ourClientsContent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2.5rem;
    /* z-index: 1; */
}