* {
    padding: 0;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.flex-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}